<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Message details</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Communication</th>
        <th>Created on</th>
        <th>Updated on</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{status}}</td>
          <td>{{body}}</td>
          <td>{{createdOn}}</td>
          <td>{{updatedOn}}</td>
        </tr>
    </tbody>
  </table>
</div>
